/* -----------------------------
    Autor: Abidán Brito Clavijo
    Fecha: 04/01/2022
   ----------------------------- */

body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    text-align: center;
    padding: 2rem;
}

.maps {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.map-container {
    border-radius: 15px;
    overflow: hidden;
    height: 900px;
    width: 80%;
}

#leaflet {
    height: 76.5vh
}

dl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

dt {
    margin-top: 0.5rem;
}

dd {
    margin: 0;
}

p {
    text-align: center;
}